@page
@model ZL.Poem.WebApi.Pages.SearchPoemModel

@{
    ViewData["Title"] = "SearchPoem";
}

<h1>诗查询</h1>

<h1>诗人</h1>

<form asp-page="./SearchPoem" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="text" name="author" value="@Model.CurrentAuthor" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-page="./SearchPoem">显示全部</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                名称
            </th>
            <th>
                作者
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.poemResults.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var HasPreviousPage = Model.CurrentPage > 0;
    var HasNextPage = Model.CurrentPage * Model.PageSize < Model.poemResults.TotalCount;

    var prevDisabled = !HasPreviousPage ? "disabled" : "";
    var nextDisabled = !HasNextPage ? "disabled" : "";
}

@if (HasPreviousPage)
{
    <a asp-page="./SearchPoem"
       asp-route-pageIndex="@(Model.CurrentPage - 1)"
       asp-route-SearchString="@Model.CurrentFilter"
       asp-route-author="@Model.CurrentAuthor"
       class="btn btn-default @prevDisabled">
        前一页
    </a>
}
@if (HasNextPage)
{
    <a asp-page="./SearchPoem"
       asp-route-pageIndex="@(Model.CurrentPage + 1)"
       asp-route-SearchString="@Model.CurrentFilter"
       asp-route-author="@Model.CurrentAuthor"
       class="btn btn-default @nextDisabled">
        后一页
    </a>
}
